body{
    background-color: #b38b6d	;
}
A{
    color: beige;
    align-items: center;
}
h1{
    color:#1b0000	;
    }
    h2{
    color:#1b0000 ;
    }
.for{
    text-align: center;
}
#for{
    font-size: 50px;
}